['mining_pickaxe_basic'] = { label = 'Slidt hakke', weight = 3500, stack = false, close = true },
['mining_pickaxe_iron'] = { label = 'Jernhakke', weight = 4200, stack = false, close = true },
['mining_pickaxe_steel'] = { label = 'Stålhakke', weight = 4700, stack = false, close = true },
['mining_pickaxe_industrial'] = { label = 'Industriforstærket hakke', weight = 5200, stack = false, close = true },
['mining_stone'] = { label = 'Sten', weight = 500, stack = true, close = false },
['mining_coal'] = { label = 'Kul', weight = 350, stack = true, close = false },
['mining_copper'] = { label = 'Kobbermalm', weight = 450, stack = true, close = false },
['mining_iron'] = { label = 'Jernmalm', weight = 500, stack = true, close = false },
['mining_silver'] = { label = 'Sølvmalm', weight = 420, stack = true, close = false },
['mining_gold'] = { label = 'Guldmalm', weight = 400, stack = true, close = false },
['mining_diamond'] = { label = 'Rå diamant', weight = 120, stack = true, close = false },
